.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0047BA;
    padding: 1rem;
    margin-bottom: 3rem;
    border: 1px solid #002E6D;
  }
  
  .brand {
    flex: 1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: auto;
  }
  
  #toggle {
    display: none;
  }
  
  .middle-links {
    flex: 1;
    list-style: none;
    display: flex;  
    justify-content: center;   
    gap: 2rem;          
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .middle-links li {
    position: relative;
  }
  
  .middle-links a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .middle-links a:hover {
    background-color: #002E6D;
  }
  
  .middle-links li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0047BA;
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    width: 100%;
}

.middle-links li:hover .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-links li .dropdown li {
    width: 100%; 
}

.middle-links li .dropdown li a {
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    box-sizing: border-box;
    border: .5px solid #FFFFFF; 
}

.middle-links li .dropdown li a:hover {
    background-color: #002E6D;
    width: 100%;
}
  
  .contact-button {
    color: #FFFFFF;
    background-color: #0047BA;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-left: auto;
  }
  
  .contact-button:hover {
    background-color: #002E6D;
  }
  
  .contact-mobile {
    display: none;
  }
  
  @media (max-width: 810px) {
    .hamburger {
      display: block;
    }
    .contact-button {
      display: none;
    }
    .middle-links {
      display: none;          
      flex-direction: column;
      align-items: flex-end;       
      width: 100%;
      background-color: #0047BA;
      margin: 1rem 0;
    }
    #toggle:checked ~ .middle-links {
      display: flex;
    }
    .contact-mobile {
      display: block;
    }
  }
  
  @media (max-width: 428px) {
    .hamburger {
      display: block;
    }
    .contact-button {
      display: none;
    }
    .middle-links {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      background-color: #0047BA;
      margin: 1rem 0;
    }
    #toggle:checked ~ .middle-links {
      display: flex;
    }
    .contact-mobile {
      display: block;
    }
  }
