* {
  box-sizing: border-box;
}
  
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

html {
  font-family: "Helvetica neue", sans-serif;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('https://mrsethwilson.github.io/webdevelopment/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('https://mrsethwilson.github.io/webdevelopment/Roboto-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
  
header {
  background-color: #0047BA;
  font-size: 3.125rem; 
  color: #FFFFFF;
  padding: 3rem;
  text-align: center;
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 0.1em; 
}

header h1 {
  margin: 0;
}

body {
  font-family: 'RobotoMedium', sans-serif;
}
  
.about-reflection p:not(:first-of-type) {
  text-indent: 2rem; 
}
  
.about-reflection p:first-of-type::first-letter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f497d;
}

.about-reflection {
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0; 
  border: 1px solid #ccc;   
  box-sizing: border-box;    
  max-width: 800px;
}
  
.center-img {
  display: block;
  margin: 3rem auto;
}
  
main {
  background-color: #FFFFFF;
  padding: 1rem 0;
  margin: 0 2rem;
}
  
.about-me {
  border: 1px solid #0047BA;
  background-color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 2rem;
}
  
.three-column-box {
  background-color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 2rem;
}
  
.three-column {
  display: flex;
  gap: 1rem;
}
  
.three-column .credential {
  flex: 1;
  border: 1px solid #0047BA;
  padding: 1rem;
  text-align: center;
  background-color: #FFFFFF;
}
.lower-image {
  display: block;
  width: 50%;
  margin: 3rem auto 0 auto; 
  height: auto;
}
  
.quote-section {
  text-align: center;
}
  
blockquote {
  font-style: italic;
  margin: 1rem auto 3rem auto;
}
  
.button {
  display: inline-block;
  padding: 0.5rem 10rem;
  background-color: #0047BA;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #002E6D;
}
  
.button:hover {
  background-color: #002E6D;
}
  
footer {
  background-image: url("image/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  color: #FFFFFF;
  text-align: center;
  padding: 2rem 0; 
  margin-top: 0;
}
  
#container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 810px) {
  #container {
    width: 100%;
  }
  .three-column {
    flex-direction: column;
  }
  .three-column .credential {
    margin-bottom: 1rem;
  }
  .lower-image {
    width: 100%;
  }
  .button {
    padding: 0.5rem 5rem;
  }
  header {
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 428px) {
  #container {
    width: 100%;
  }
  .three-column {
    flex-direction: column;
  }
  .three-column .credential {
    margin-bottom: 1rem;
  }
  .lower-image {
    width: 100%;
  }
  .button {
    padding: 0.5rem 5rem;
  }
  header {
    max-width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 2rem;
  }
}

@media print {

  @page {
    margin: 1in;
  }

  nav,
  .nav-container,
  .center-img,
  .lower-image,
  .button {
    display: none !important;
  }

  header, main, footer, .about-me, .quote-section, .three-column, .credential {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0.1em !important;
  }

  body, h2, h3, p, li, blockquote, footer, .credential {
    color: #000 !important;
    font-family: "Times New Roman", serif !important;
    font-size: 11.5pt !important; 
    line-height: 1.2 !important; 
  }
  h1 {
    font-family: 'BebasNeue', serif !important;
    color: #000 !important;
    font-size: 1.5em !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .three-column {
    display: block !important;
  }
  .credential {
    display: list-item !important;
    list-style-type: disc !important;
    list-style-position: outside !important;
    text-align: left !important;
    margin-left: 2em !important;
    margin-bottom: 2em !important;
  }
  .credential h3,
  .credential p {
    text-align: left !important;
    margin: 0 !important;
    padding: 0.1em 0 !important;
  }

  blockquote {
    margin: 1em !important;
    padding: 0 !important;
  }

  footer {
    margin-top: 0.5em !important;
    padding: 0 !important;
  }

}


